PORT=3001
CORS_ORIGIN="http://localhost:3000"
DATABASE_URL="postgresql://bisnismu:bisnismu@localhost:5432/bisnismu_dev?schema=public"
JWT_ACCESS_SECRET="change-me-dev-access-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-dev-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"
